@import "variables";

ul.list-blocks {
  list-style-type: none;
  padding: 0;

  > li {
    width: 200px;
    margin: 10px;
    padding: 4px 8px;
    float: left;
    border: 1px solid #272e35;
    background-color: #272e35;

    &:hover {
      border: 1px solid #3ca2e9;
    }

    a {
      display: block;
      padding: 8px;
      text-decoration: none;
    }

    .item-title {
      font-weight: bold;
      font-size: larger;
    }

    .item-title-centered {
      font-weight: bold;
      text-align: center;
    }
  }
}

@media(max-width: $screen-xs-max) {
  ul.list-blocks > li {
    width: 100%;
    margin-left: 0;
  }
}
